<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.ietm.standardmanagement.mapper.IetmStandardDmtypeMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE
		FROM  ietm_standard_dmtype
		WHERE
			 pid = #{mainId}
	</delete>

	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.ietm.standardmanagement.entity.IetmStandardDmtype">
		SELECT *
		FROM  ietm_standard_dmtype
		WHERE
			 pid = #{mainId}
	</select>

	<!-- 根据标准名称查询数据模块类型 -->
	<select id="selectByStandard" parameterType="java.lang.String" resultType="org.jeecg.modules.ietm.standardmanagement.entity.IetmStandardDmtype">
		SELECT d.*
		FROM ietm_standard_dmtype d
		INNER JOIN ietm_standard s ON d.pid = s.id
		WHERE s.name = #{standard}
	</select>
</mapper>
