<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.ietm.workflow.mapper.WfTemplateDtlMapper">

    <!-- ResultMap -->
    <resultMap id="BaseResultMap" type="org.jeecg.modules.ietm.workflow.entity.WfTemplateDtl">
        <id     column="id"            property="id"/>
        <result column="templateid_"   property="templateid"/>
        <result column="seqno_"        property="seqno"/>
        <result column="nodename_"     property="nodename"/>
        <result column="nodetype_"     property="nodetype"/>
        <result column="userid_"       property="userid"/>
        <result column="useridname_"   property="useridname"/>
        <result column="stagename_"    property="stagename"/>
        <result column="ifgetback_"    property="ifgetback"/>
        <result column="create_by"     property="createBy"/>
        <result column="create_time"   property="createTime"/>
    </resultMap>

    <!-- 根据模板ID查询所有节点，按seqno排序 -->
    <select id="selectByTemplateIdOrderBySeqno" resultMap="BaseResultMap">
        SELECT * FROM "IETM"."wf_template_dtl"
        WHERE "templateid_" = #{templateId}
        ORDER BY "seqno_"
    </select>

</mapper>
